<div class="gap-50"></div>
<div class="brand">
    <h2 class="text-center">Elite Chauffeur</h2>
</div>
<div class="gap-50"></div>
<div class="container">
 <div class="col-lg-4 col-md-4 col-sm-4">

         <div class="panel rounded shadow">
             <div class="panel-body bg-twitter">
                 <ul class="list-unstyled no-margin">
                     <li class="text-center">
                         <i class="fa fa-building fa-5x" style="color:white;"></i>
                     </li>
                     <li class="text-center">
                         <h4 class="text-capitalize">Company</h4>
                     </li>
                     <li>
                         <ul class="list-group no-margin br-3">
                             <li class="list-group-item bg-twitter"><a class="btn btn-success" href="/company">Login</a></li>
                         </ul>
                     </li>
                 </ul><!-- /.list-unstyled -->
             </div><!-- /.panel-body -->
         </div>

 </div>

 <div class="col-lg-4 col-md-4 col-sm-4">


            <div class="panel rounded shadow">
                <div class="panel-body bg-soundcloud">
                    <ul class="list-unstyled no-margin">
                        <li class="text-center">
                            <i class="fa fa-car fa-5x" style="color:white;"></i>
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">Driver</h4>
                        </li>
                        <li>
                            <ul class="list-group no-margin br-3">
                                <li class="list-group-item bg-soundcloud"><a class="btn btn-success" href="/driver">Login</a></li>
                            </ul>
                        </li>
                    </ul><!-- /.list-unstyled -->
                </div><!-- /.panel-body -->
            </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4">

    <div class="panel rounded shadow">
        <div class="panel-body bg-googleplus">
            <ul class="list-unstyled no-margin">
                <li class="text-center">
                    <i class="fa fa-empire fa-5x" style="color:white;"></i>
                </li>
                <li class="text-center">
                    <h4 class="text-capitalize">Admin</h4>
                </li>
                <li>
                    <ul class="list-group no-margin br-3">
                        <li class="list-group-item bg-googleplus"><a class="btn btn-success" href="/admin">Login</a></li>
                    </ul>
                </li>
            </ul><!-- /.list-unstyled -->
        </div><!-- /.panel-body -->
    </div>

</div>
</div>