/* here you can put your own css to customize and override the theme */
.sorting_1 a {color: white;}
.nameDisplay {width: 100%; height: 100%; display: none; background-color: #3b5998 !important; color: #fff; text-align: center; position: absolute; top: 0; z-index: 9999;}
.nameDisplay span {display: block;font-size: 250px; position: relative; line-height: 300px;}
.animate-pulse {animation: opacity-badge 0.6s infinite;-webkit-animation: opacity-badge 0.6s infinite;}
.status-error {position: relative; top: -2px;right: -15px;}
.inner-client-button2 {padding: 7px 7px 0 0;}
#datatable-dom_filter,
#datatable-dom_paginate {float: right;}
.panel-body.bg-twitter,
.panel-body.bg-soundcloud,
.panel-body.bg-googleplus {padding: 30px;}
.panel-body.bg-twitter .list-group.no-margin.br-3,
.panel-body.bg-soundcloud .list-group.no-margin.br-3,
.panel-body.bg-googleplus .list-group.no-margin.br-3 {text-align: center;}
.gap-5 {height: 5px; display: block; clear: both;}
.gap-10 {height: 10px; display: block; clear: both;}
.gap-20 {height: 20px; display: block; clear: both;}
.gap-24 {height: 24px; display: block; clear: both;}
.gap-30 {height: 30px; display: block; clear: both;}
.gap-40 {height: 40px; display: block; clear: both;}
.gap-50 {height: 50px; display: block; clear: both;}
.gap-500 {height: 500px; display: block; clear: both;}
[contenteditable="true"] {outline: none !important;}
@media print {
	 @page { size: landscape; margin: 2mm 4mm;}
    .myPritn {
        display: block !important;
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0px;
        line-height: 18px;
    }
    #page-content {margin: 0 !important;}
    .body-content,
    .panel-body {padding: 0 !important;}
    .table-theme thead tr th {
    	background-color: #fff #fff #fff !important;
		border-color: #fff #fff #fff !important;
		color: #000;
		font-size: 12px;
		border-width: 0 !important;
    }
    .table tbody tr td,
    .table tbody tr td h4 {
    	font-size: 12px !important;
    	margin: 0;
    	padding: 0;
    	line-height: 15px;
    }
    .header-content,
    #sidebar-left,
    #header,
    .panel-footer {
    	display: none;
    }

}
#cal-day-box .day-event {height: auto !important;}
label.error {
  position: absolute;
  background: red;
  top: 0px;
  left: 0;
  text-indent: -9999px;
}